<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/excel_cleaner" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <input type="text" name="text_input" maxlength="20" placeholder="Enter text (optional)" pattern="[A-Za-z ]+" title="Only alphabetic characters and spaces are allowed">
      <input type="submit" value="Upload">
  </form>

  {% if download_ready %}
  <script>
      window.onload = function() {
          window.location.href = '/download';
      }
  </script>
  {% endif %}
</body>
</html>